@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background: rgb(223, 250, 216);
}

.container{
    display: flex;
    width: 1200px;
    margin: auto;
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    height: 100vh;
    background: #fff;

}
.navbar{
    width: 80%;
    margin: 0 auto;
}
.logo{
    margin: 2rem 0 1rem 0;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
}
.logo img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.logo h1{
    margin-left: 1rem;
    text-transform: uppercase;
}
ul{
    margin: 0 auto;
}

li{
    padding-bottom: 2rem;
}
li a{
    font-size: 16px;
    color: rgb(73, 172, 48);
}

nav i{
    width: 50px;
    font-size: 18px;
    text-align: center;
}
.logout
{
    position: absolute;
    bottom: 20px;
}

.main{
    width: 100%;
}
.main-top{
    width: 100%;
    background: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
}

.main-body{
    padding: 10px 10px 10px 20px;
    text-align: center;
}
h1{
    margin: 20px;

}
.search_bar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.search_bar input{
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(41, 248, 75);

}
.search_bar input:focus{
    border: 1px solid  rgb(42, 224, 22); 
}
.search_bar select{
    border: 1px solid rgb(42, 224, 22);
    padding: 10px;
    margin-left: 2rem;
}
.search_bar .filter{
    width: 300px;
}

.filter{
    background-color: #fff;
}
.Category{
    background-color: #fff;
}

.user-profile{
   display: flex;
    align-items: center;
    justify-content: center;

}
.user-profile img{
    width: 90px;
    height: 90px;
    border-radius: 85%;
}
h4{
    margin-left: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.description{
    display: inline-block;
    margin-top: 25px;
    margin-left: 38px;
    width: 402px;
    height: 250px;
    margin-bottom: 10px;    border: 1px ;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    left: 50px;
    box-shadow: 0 20px 35px 0px rgba(0, 0, 0, 0.1);    
}
.skills-container{
    margin-left: 554px;
    margin-top: -312px;
}

.skills{
    display: inline-flex;
    margin-top: 25px;
    margin-left: 38px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    width: 402px;
    height: 250px;
    margin-bottom: 10px;    border: 1px ;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    left: 50px;
}

.attendance{
    margin-top: 20px;
    text-transform: capitalize;
  }
  .attendance-list{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #a5e4c400;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    border-bottom: #ddd;
  }
  table thead tr{
    color: #fff;
    background: #34AF6D;
    text-align: left;
    font-weight: bold;
  }
  .table th,
  .table td{
    padding: 12px 15px;
  }
  .table tbody tr{
    border-bottom: 1px solid #ddd;
  }
  .table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
  }
 
  .table tbody tr:last-of-type{
    border-bottom: 2px solid #4AD489;
  }
  .table button{
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #4AD489;
  }
  .table button:hover{
    background: #4AD489;
    color: #fff;
    transition: 0.5rem;
  }


  .updation{
    padding-left: 10px;
    margin-top: 78px;
  }

  .posted{
    display: inline-block;
    margin-top: 25px;
    margin-left: 38px;
    width: 402px;
    height: 250px;
    margin-bottom: 10px;    border: 1px ;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    left: 50px;
    box-shadow: 0 20px 35px 0px rgba(0, 0, 0, 0.1);    
  }
  .Users-container{
    margin-left: 554px;
    margin-top: -312px;
  }
  .Users{
    display: inline-block;
    margin-top: 25px;
    margin-left: 38px;
    width: 402px;
    height: 250px;
    margin-bottom: 10px;    border: 1px ;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    left: 50px;
    box-shadow: 0 20px 35px 0px rgba(0, 0, 0, 0.1);  
  }